
html, body {
    height: 100%;
}

body {
  padding-top: 50px;
}

.yawg-body {
    min-height: 100%;
    position: relative;
}

.yawg-content {
    padding-bottom: 6em; /* Must be same as yawg-footer.height */
}

.yawg-footer {
    height: 6em;
    padding-top: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.yawg-footer p {
    margin: 0;
}


/**
 * Bootstrap classes.
 */

.breadcrumb {
    margin-top: 20px;
}


/**
 * Asccidoctor classes.
 */

.imageblock {
    margin-top: 2em;
    margin-bottom: 2em;
}
